@import "style/header";
@import "style/hero";
@import "style/heroBottom";
@import "style/profise";
@import "style/brand";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}